# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environments
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Data
data/raw/*
data/processed/*
data/best_models/*
data/adversarial_examples/FGSM/*
data/adversarial_examples/CW/*
data/adversarial_examples/PGD/*

# Logs
*.log

# But keep the .gitkeep files
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/best_models/.gitkeep
!data/adversarial_examples/FGSM/.gitkeep
!data/adversarial_examples/CW/.gitkeep
!data/adversarial_examples/PGD/.gitkeep

# Jupyter Notebook
.ipynb_checkpoints
